@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #151419;
    font-weight: 200;
}

#active {
    font-weight: 600;
    font-size: 20px;
    color: #a1b2c4;
    transform: none;
}

#español {
    font-weight: 600;
    transform: none;
}

header {
    display: flex;
}

nav {
    background-color: #151419;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

.logo {
    height: 100px;
    margin: 5px 0 5px 50px;
    padding-top: 4px;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    color: #e6d7c4;
}

nav .idioma li {
    margin: 5px;
}

nav ul li a {
    color: #e6d7c4;
}

nav a:hover {
    color: #a1b2c4;
}

nav ul li:hover {
    transform: scale(1.1)
}

.checkbtn {
    color: #e6d7c4;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media screen and (max-width: 860px) {
    .logo {
        padding-top: 20px;
        padding-left: 0;
        height: 90px;
    }

    nav {
        padding: 0 20px;
    }

    .checkbtn {
        display: block;
    }

    .logo {
        float: right;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, .8);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav .idioma {
        display: none;
    }

    nav ul li {
        display: block;
        padding: 20px;
    }

    #check:checked~ul {
        left: 0;
    }
}

.inicio {
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 5%;
    background: url('../img/fondo3.png') no-repeat;
    background-size: cover;
    background-position: center;

}

.bienvenida {
    color: #151419;
    max-width: 50rem;
}

.bienvenida h1 {
    font-size: 50px;
    font-weight: 600;
    color: #e6d7c4;
}

.bienvenida h3 {
    font-size: 25px;
    font-weight: 600;
    color: #a1b2c4;
}

.bienvenida p {
    font-weight: 400;
    color: #e6d7c4;
    margin: 2rem 0 4rem;
}

.bienvenida .contacto {
    width: 345px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.contacto a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #e6d7c4;
    border: 2px solid #a1b2c4;
    border-radius: 10px;
    color: #151419;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}

footer {
    margin: 20px 0px 20px 50px;
    display: flex;
    align-items: center;
    color: #e6d7c4;
}

.loguito {
    margin-right: 30px;
}

.redes {
    display: flex;
}

.redes a {
    color: #e6d7c4;
    font-size: 20px;
    padding: 20px;
}

#mail {
    align-items: center;
    padding: 20px;
}
#mail_icono{
    display: none;
}
.info {
    position: absolute;
    right: 0;
    margin-right: 50px;
}

hr {
    color: #e6d7c4;
}

@media screen and (max-width: 860px) {
    .inicio {
        background: url('../img/fondo.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bienvenida h1 {
        color:#a1b2c4;
    }
    .bienvenida h3 {
        color:#151419;
    }
    .bienvenida p{
        background-color: #151419d0;
        border-radius: 10px;
        padding: 10px;
    }
    .contacto a {
        background:#e6d7c4;
        border: 0.5px solid #151419;
        border-radius: 10px;
        color:#151419;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 1px;
    }
    .redes a {
        font-size: 15px;
        padding: 5px;
    }
    
    #mail {
        padding: 5px;
        font-size: 15px;
    }
    
    .info {
        position: absolute;
        right: 0;
        margin-right: 50px;
        font-size: 15px;
    }
}
@media screen and (max-width: 655px){
    .loguito{
        margin-right: 10px;
    }
    .redes a {
        font-size: 10px;
        padding: 5px;
    }
    
    #mail {
        display: none;
    }
    
    .info {
        position: absolute;
        right: 0;
        margin-right: 20px;
        font-size: 10px;
    }
    #mail_icono{
        display: block;
        font-size: 10px;
    }

}
   
