#page_contacto{
    background-image: url('../img/fondo\ contacto.jpg');
    background-size: cover;
    background-attachment:fixed;
}

#nav_contacto{
    background-color: hsla(252, 11%, 9%, 0);

    a{
        color: $color-principal;
    }

    .idioma li{
            color: $color-principal;
    }
}

.primera{
    background-color: #e6d7c4da;
    border-radius: 20px;
    box-shadow: 3px 3px 40px -1px #6d665c59 ;
    color: $color-principal;
    padding: 30px;
    font-weight: 400;
    width: 60%; 
    margin-top: 80px;
    margin-bottom: 80px;  
}
.segunda{
    margin: 250px 0 0 50px;
    font-weight: 400;

    i{
        padding-right: 10px;
    }
}


.footer_contacto{
    color: $color-principal;
    border-top: 1px solid $color-principal;

    .redes i{
    color: $color-principal;
    }
}

@media screen and (max-width: 992px){
    .primera{
        margin-bottom: 20px;
    }
    .segunda{
        margin-top: 20px;
    }
}
@media screen and (max-width: 860px){
    #page_contacto{
       background-image: none;
       background-color: $color-principal;
    }
    #nav_contacto{
           
        a{
            color: $color-secundario;
        }
    
        .idioma li{
                color: $color-secundario;
        }
    }
    
    .primera{
       width: 435px;
        background-color: $color-secundario;

        .form-control{
            font-size: 10px;
        }
    }
    .segunda{
        max-width: 435px;
        position: absolute;
        bottom: 10rem;
        height: fit-content;
        padding: 20px;
        margin: 0;
        border: 2px solid $color-secundario;
        color: $color-secundario;
        font-weight: 200;
    }
    .footer_contacto{
        color: $color-secundario;
        border-top: 1px solid $color-secundario;

        .redes i{
            color: $color-secundario;
        }

        .info{
            color: $color-secundario;
        }
    }
}