.ejemplo{
   @extend .skills_about;
}
.ejemplo_descripcion p{
    @extend .skills_about;
    margin-top: 200px;
    font-size: 50px;
}
.ejemplo_salir a{
    color: #e6d7c4;
    text-decoration: none;
    margin: 10px;
}