.inicio {
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 5%;
    background: url('../img/fondo3.png') no-repeat;
    background-size: cover;
    background-position: center;

    .bienvenida {
        color: $color-principal;
        max-width: 50rem;
    
        h1 {
            font-size: 50px;
            font-weight: 600;
            color: $color-secundario;
        }

        h3 {
            font-size: 25px;
            font-weight: 600;
            color: $color-acento;
        }
        h4 {
            font-size: 20px;
            color: $color-secundario;
            margin-top: 30px;
        }

        p {
            font-weight: 400;
            color: $color-secundario;
            margin: 2rem 0 4rem;
        }

        .contacto {
            width: 345px;
            height: 50px;
            display: flex;
            justify-content: space-between;

            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 100%;
                background: $color-secundario;
                border: 2px solid $color-acento;
                border-radius: 10px;
                color: $color-principal;
                font-weight: 400;
                font-size: 15px;
                letter-spacing: 1px;
            }
        }
    }
}


@media screen and (max-width: 860px) {
    .inicio {
        background: url('../img/fondo.jpg') no-repeat;
        background-size: cover;
        background-position: center;

        h1 {
            color:$color-acento;
        }

        h3 {
            color: $color-principal;
        }

        p{
            background-color: #151419d0;
            border-radius: 10px;
            padding: 10px;
        }
        a {
            background:$color-secundario;
            border: 0.5px solid  $color-principal;
            border-radius: 10px;
            color: $color-principal;
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 1px;
        }
    }
    .redes {
        a {
            font-size: 15px;
            padding: 5px;
        }
        #mail {
            padding: 5px;
            font-size: 15px;
        }   

    }
    .info {
        position: absolute;
        right: 0;
        margin-right: 50px;
        font-size: 15px;
    }
}
@media screen and (max-width: 655px){
    .inicio {
        h1 {
            color:$color-acento;
            font-size: 40px;
        }
        h3 {
            color: $color-principal;
            font-size: 15px;
        }
        p{
            background-color: #151419d0;
            border-radius: 10px;
            padding: 10px;
            font-size: 13px;
        }
    }
}    